@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import "tailwindcss";

@theme {
    --color-primary: #030014;

    --color-light-100: #cecefb;
    --color-light-200: #a8b5db;

    --color-gray-100: #9ca4ab;

    --color-dark-100: #0f0d23;
}

@utility text-gradient {
    @apply bg-linear-to-r from-[#D6C7FF] to-[#AB8BFF] bg-clip-text text-transparent;
}

@utility fancy-text {
    -webkit-text-stroke: 5px rgba(206, 206, 251, 0.5);
    font-size: 190px;
    font-family: "Bebas Neue", sans-serif;
}

body {
    font-family: "DM Sans", sans-serif;
}